<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/neat.css" type="text/css">
<link rel="stylesheet" href="../js/library/mylayer/v1.0/skin/default/mylayer.css" type="text/css">
<link rel="stylesheet" href="../css/skin/blue1/mis-style.css" type="text/css">
<title>肇庆学院专业能力发展中心远程教育培训平台</title>
</head>
<body id="misBody">
<!--begin wrap -->
<div class="mis-wrap" id="app">
    <!--begin header -->
    <div class="mis-hd">
        <div class="mis-hd-inner">
            <h1 class="mis-logo">
                <a href="index.html">
                    <img src="images/logo.png" alt="肇庆学院专业能力发展中心远程教育培训平台">
                </a>
            </h1>
            <!-- <div class="mis-menu">
                <a href="javascript:;" class="z-crt">基础信息</a>
                <a href="javascript:;">诚信管理</a>
                <a href="javascript:;">继续教育</a>
                <a href="javascript:;">系统管理</a>
                <a href="javascript:;" class="last">控制面板</a>
            </div> -->
            
            <div class="mis-tuser">
                <a href="javascript:;" class="tuser-show">
                    <img src="images/headImg1.jpg" alt="">
                    <strong class="txt"><span class="name">Nick</span></strong>
                    <span class="status"><i class="mis-super-ico"></i>超级管理员</span>
                    <i class="trg"></i>
                </a>
                <div class="tuser-lst">
                    <i class="trg"></i>
                    <ul class="lst">
                        <li class="item"><a href="javascript:;" class="cmt"><span class="txt">我的评论</span><strong class="num">56</strong></a></li>   
                        <li class="item"><a href="javascript:;" class="user"><span class="txt">个人资料</span></a></li>
                        <li class="item"><a href="javascript:;" class="record"><span class="txt">系统记录</span></a></li>
                        <li class="item"><a href="javascript:;" class="setting"><span class="txt">账号设置</span></a></li>
                        <li class="item last"><a href="javascript:;" class="exit"><span class="txt">退出</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--end header -->
    <!--begin side -->
    <div class="mis-sd" id="misSide">
        <div class="mis-shrink-tree"><a href="javascript:;" class="opt"></a></div>
        <div class="mis-tree-wp">
            <ul class="mis-tree" id="misTree">
                <li class="mis-tree-item t1">
                    <div class="mis-tree-info" data-open="false">
                        <a href="javascript:;" class="dt" title="">
                            <span class="txt">工作台</span>
                            <span class="open-icon"></span>
                        </a>
                    </div>
                    <ul class="mis-tree-inner">
                        <li class="inner-item">
                            <div class="inner-info"  data-open="false">
                                <a href="javascript:;" class="dt"><span class="txt">通知管理</span></a>
                            </div>
                            <ul class="mis-tree-inner tree-bottom">
                                <li class="inner-item">
                                    <div class="inner-info">
                                        <a href="index.html" class="dt"><span class="txt">一个月前</span></a>
                                    </div>
                                </li>
                                <li class="inner-item">
                                    <div class="inner-info">
                                        <a href="form.html" class="dt"><span class="txt">今天发布</span></a>
                                    </div>
                                </li>
                                <li class="inner-item">
                                    <div class="inner-info">
                                        <a href="index.html" class="dt"><span class="txt">一个月前</span></a>
                                    </div>
                                </li>
                                <li class="inner-item">
                                    <div class="inner-info">
                                        <a href="javascript:;" class="dt"><span class="txt">今天发布</span></a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="inner-item">
                            <div class="inner-info" data-open="false">
                                <a href="javascript:;" class="dt no-child"><span class="txt">项目消息</span></a>
                            </div>
                        </li>
                        <li class="inner-item">
                            <div class="inner-info" data-open="false">
                                <a href="javascript:;" class="dt"><span class="txt">回收站</span></a>
                            </div>
                            <ul class="mis-tree-inner tree-bottom">
                                <li class="inner-item">
                                    <div class="inner-info">
                                        <a href="javascript:;" class="dt"><span class="txt">测试3</span></a>
                                    </div>
                                </li>
                                <li class="inner-item">
                                    <div class="inner-info">
                                        <a href="javascript:;" class="dt"><span class="txt">测试4</span></a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="mis-tree-item t2">
                    <div class="mis-tree-info" data-open="false">
                        <a href="javascript:;" class="dt" title="">
                            <span class="txt">培训管理</span>
                            <span class="open-icon"></span>
                        </a>
                    </div>
                    <ul class="mis-tree-inner">
                        <li class="inner-item">
                            <div class="inner-info"  data-open="false">
                                <a href="javascript:;" class="dt no-child"><span class="txt">通知管理</span></a>
                            </div>

                        </li>
                        <li class="inner-item">
                            <div class="inner-info" data-open="false">
                                <a href="javascript:;" class="dt"><span class="txt">项目消息</span></a>
                            </div>
                            <ul class="mis-tree-inner tree-bottom">
                                <li class="inner-item">
                                    <div class="inner-info">
                                        <a href="javascript:;" class="dt"><span class="txt">测试1</span></a>
                                    </div>
                                </li>
                                <li class="inner-item">
                                    <div class="inner-info">
                                        <a href="javascript:;" class="dt"><span class="txt">测试2</span></a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="inner-item">
                            <div class="inner-info" data-open="false">
                                <a href="javascript:;" class="dt"><span class="txt">回收站</span></a>
                            </div>
                            <ul class="mis-tree-inner tree-bottom">
                                <li class="inner-item">
                                    <div class="inner-info">
                                        <a href="javascript:;" class="dt"><span class="txt">测试3</span></a>
                                    </div>
                                </li>
                                <li class="inner-item">
                                    <div class="inner-info">
                                        <a href="javascript:;" class="dt"><span class="txt">测试4</span></a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="mis-tree-item t3">
                    <div class="mis-tree-info" data-open="false">
                        <a href="javascript:;" class="dt" title="">
                            <span class="txt">培训统计</span>
                            <span class="open-icon"></span>
                        </a>
                    </div>
                </li>
                <li class="mis-tree-item t4">
                    <div class="mis-tree-info" data-open="false">
                        <a href="javascript:;" class="dt" title="">
                            <span class="txt">社区管理</span>
                            <span class="open-icon"></span>
                        </a>
                    </div>
                </li>
                <li class="mis-tree-item t5">
                    <div class="mis-tree-info" data-open="false">
                        <a href="javascript:;" class="dt" title="">
                            <span class="txt">系统管理</span>
                            <span class="open-icon"></span>
                        </a>
                    </div>
                </li>
                <li class="mis-tree-item t6">
                    <div class="mis-tree-info" data-open="false">
                        <a href="javascript:;" class="dt" title="">
                            <span class="txt">系统管理6</span>
                            <span class="open-icon"></span>
                        </a>
                    </div>
                </li>
                <li class="mis-tree-item t7">
                    <div class="mis-tree-info" data-open="false">
                        <a href="javascript:;" class="dt" title="">
                            <span class="txt">系统管理7</span>
                            <span class="open-icon"></span>
                        </a>
                    </div>
                </li>
                <li class="mis-tree-item t8">
                    <div class="mis-tree-info" data-open="false">
                        <a href="javascript:;" class="dt" title="">
                            <span class="txt">系统管理8</span>
                            <span class="open-icon"></span>
                        </a>
                    </div>
                </li>
                <li class="mis-tree-item t14">
                    <div class="mis-tree-info" data-open="false">
                        <a href="javascript:;" class="dt" title="">
                            <span class="txt">微信公众号</span>
                            <span class="open-icon"></span>
                        </a>
                    </div>
                    <ul class="mis-tree-inner">
                        <li class="inner-item">
                            <div class="inner-info" data-open="false">
                                <a href="javascript:;" class="dt"><span class="txt">功能</span></a>
                            </div>
                            <ul class="mis-tree-inner tree-bottom">
                                <li class="inner-item">
                                    <div class="inner-info">
                                        <a href="javascript:;" class="dt"><span class="txt">自定义菜单</span></a>
                                    </div>
                                </li>
                                <li class="inner-item">
                                    <div class="inner-info">
                                        <a href="javascript:;" class="dt"><span class="txt">项目消息</span></a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="inner-item">
                            <div class="inner-info" data-open="false">
                                <a href="javascript:;" class="dt"><span class="txt">管理</span></a>
                            </div>
                            <ul class="mis-tree-inner tree-bottom">
                                <li class="inner-item">
                                    <div class="inner-info">
                                        <a href="javascript:;" class="dt"><span class="txt">消息管理</span></a>
                                    </div>
                                </li>
                                <li class="inner-item">
                                    <div class="inner-info">
                                        <a href="javascript:;" class="dt"><span class="txt">用户管理</span></a>
                                    </div>
                                </li>
                                <li class="inner-item">
                                    <div class="inner-info">
                                        <a href="javascript:;" class="dt"><span class="txt">素材管理</span></a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="inner-item">
                            <div class="inner-info" data-open="false">
                                <a href="javascript:;" class="dt"><span class="txt">统计</span></a>
                            </div>
                            <ul class="mis-tree-inner tree-bottom">
                                <li class="inner-item">
                                    <div class="inner-info">
                                        <a href="javascript:;" class="dt"><span class="txt">用户分析</span></a>
                                    </div>
                                </li>
                                <li class="inner-item">
                                    <div class="inner-info">
                                        <a href="javascript:;" class="dt"><span class="txt">图文分析</span></a>
                                    </div>
                                </li>
                                <li class="inner-item">
                                    <div class="inner-info">
                                        <a href="javascript:;" class="dt"><span class="txt">菜单分析</span></a>
                                    </div>
                                </li>
                                <li class="inner-item">
                                    <div class="inner-info">
                                        <a href="javascript:;" class="dt"><span class="txt">消息分析</span></a>
                                    </div>
                                </li>                               
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="mis-tree-item t15">
                    <div class="mis-tree-info" data-open="true">
                        <a href="javascript:;" class="dt" title="">
                            <span class="txt">大数据分析</span>
                            <span class="open-icon"></span>
                        </a>
                    </div>
                    <ul class="mis-tree-inner">
                        <li class="inner-item">
                            <div class="inner-info addyellow"  data-open="false">
                                <a href="javascript:;" class="dt"><span class="txt">数据分析</span></a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="mis-tree-item t15 z-crt open">
                    <div class="mis-tree-info z-crt open" data-open="true">
                        <a href="office-phone.html" class="dt" title="">
                            <span class="txt">办公电话</span>
                            <span class="open-icon"></span>
                        </a>
                    </div>
                </li>
                <li class="mis-tree-item t15">
                    <div class="mis-tree-info" data-open="false">
                        <a href="zzjg.html" class="dt" title="">
                            <span class="txt">组织架构</span>
                            <span class="open-icon"></span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>   
    </div>
    <!--end side  -->
    <!--begin content body -->
    <div class="mis-bd" id="misContent">
        <!--begin content body inner -->
        <div class="mis-bd-inner">
            <div class="mis-index-wrap">
                <div class="mis-mod">
                    <div class="mis-mod-tt">
                        <h2 class="tt t1"><span>办公电话</span></h2>
                        <template v-if="bgdh.length">
                            <div class="btn-row"><button type="button" class="mis-btn mis-main-btn" @click="openAddPhoneLayer"><i class="mis-add-ico"></i>添加办公电话</button></div>
                        </template>
                    </div>
                    <div class="mis-content">
                        <template v-if="bgdh.length">
                            <div class="g-office-phone-wrapper">
                                <table class="mis-table">
                                    <thead>
                                        <tr>
                                            <th>部门</th>
                                            <th>办公室</th>
                                            <th>电话</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template v-for="(item,index) in bgdh">
                                            <tr>
                                                <td>{{item.bm}}</td>
                                                <td>{{bgsNum(item)}}</td>
                                                <td>
                                                    <template v-for="tel in item.dh">
                                                        <span v-if="tel.type === 0">
                                                            {{tel.num.join("、")}}
                                                        </span>
                                                        <span v-else><span><br/></span>{{czNum(tel)}}</span>
                                                    </template>
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="mis-btn mis-inverse-btn" @click="openEditPhoneLayer(index)"><i class="mis-alter-ico"></i>编辑</a>
                                                    <a href="javascript:;" class="mis-btn mis-inverse-btn" @click="delPhone(index)"><i class="mis-delete-ico"></i>删除</a>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                        </template>
                        <template v-else>
                            <div class="mis-no-office-phone">
                                <p class="tips">还未添加办公电话，点击下面按钮添加~</p>
                                <button type="button" class="mis-btn mis-main-btn" @click="openAddPhoneLayer"><i class="mis-add-ico"></i>添加办公电话</button>
                            </div>
                        </template>
                    </div>  
                </div><!--end module layout -->
                <!-- start add office phone layer -->
                <transition name="fade">
                    <div class="mis-office-phone-layer" v-show="isAddPhoneShow">
                        <div class="office-hone-hd">
                            <h3 class="tt">添加电话</h3>
                            <a href="javascript:;" class="close" @click="closeLayer">×</a>
                        </div>
                        <div class="office-hone-con">
                            <div class="mis-layer-wrap">
                                <ul class="mis-ipt-lst">
                                    <li class="item">
                                        <div class="mis-ipt-row">
                                            <div class="tl">
                                                <span>部门：</span>
                                            </div>
                                            <div class="tc">
                                                <div class="mis-ipt-mod">
                                                    <input type="text" name="" placeholder="请输入所属部门" class="mis-ipt" v-model="bm">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="mis-ipt-row">
                                            <div class="tl">
                                                <span>办公室：</span>
                                            </div>
                                            <div class="tc">
                                                <div class="mis-ipt-mod">
                                                    <input type="text" name="" value="" placeholder="办公室门牌号（如xx室），多个门牌号用顿号（、）隔开" class="mis-ipt" v-model="bgs">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="mis-ipt-row">
                                            <div class="tl">
                                                <span>电话：</span>
                                            </div>
                                            <div class="tc">
                                                <div class="mis-ipt-mod">
                                                    <input name="" value="" placeholder="部门电话，多个电话用顿号（、）隔开" class="mis-ipt" v-model="dh"></input>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="mis-ipt-row">
                                            <div class="tl">
                                                <span>传真：</span>
                                            </div>
                                            <div class="tc">
                                                <div class="mis-ipt-mod">
                                                    <input name="" value="" placeholder="部门传真，多个传真用顿号（、）隔开" class="mis-ipt" v-model="cz"></input>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item w1 btm-opa">
                                        <div class="mis-ipt-row">
                                            <div class="tc">
                                                <button type="button" class="mis-btn mis-main-btn mylayer-confirm" @click="addPhone">确定</button>
                                                <button type="button" class="mis-btn mis-default-btn mylayer-cancel" @click="closeLayer">取消</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </transition>
                <!-- end add office phone layer -->
                <!-- start edit office phone layer -->
                <transition name="fade">
                    <div class="mis-office-phone-layer" v-show="isEditPhoneShow">
                        <div class="office-hone-hd">
                            <h3 class="tt">编辑电话</h3>
                            <a href="javascript:;" class="close" @click="closeLayer">×</a>
                        </div>
                        <div class="office-hone-con">
                            <div class="mis-layer-wrap">
                                <ul class="mis-ipt-lst">
                                    <li class="item">
                                        <div class="mis-ipt-row">
                                            <div class="tl">
                                                <span>部门：</span>
                                            </div>
                                            <div class="tc">
                                                <div class="mis-ipt-mod">
                                                    <input type="text" name="" placeholder="请输入所属部门" class="mis-ipt" v-model="bm">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="mis-ipt-row">
                                            <div class="tl">
                                                <span>办公室：</span>
                                            </div>
                                            <div class="tc">
                                                <div class="mis-ipt-mod">
                                                    <input type="text" name="" value="" placeholder="办公室门牌号（如xx室），多个门牌号用顿号（、）隔开" class="mis-ipt" v-model="bgs">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="mis-ipt-row">
                                            <div class="tl">
                                                <span>电话：</span>
                                            </div>
                                            <div class="tc">
                                                <div class="mis-ipt-mod">
                                                    <input name="" value="" placeholder="部门电话，多个电话用顿号（、）隔开" class="mis-ipt" v-model="dh"></input>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="mis-ipt-row">
                                            <div class="tl">
                                                <span>传真：</span>
                                            </div>
                                            <div class="tc">
                                                <div class="mis-ipt-mod">
                                                    <input name="" value="" placeholder="部门传真，多个传真用顿号（、）隔开" class="mis-ipt" v-model="cz"></input>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item w1 btm-opa">
                                        <div class="mis-ipt-row">
                                            <div class="tc">
                                                <button type="button" class="mis-btn mis-main-btn mylayer-confirm" @click="editPhone">确定</button>
                                                <button type="button" class="mis-btn mis-default-btn mylayer-cancel" @click="closeLayer">取消</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </transition>
                <!-- end edit office phone layer -->
                <transition name="fade">
                    <div class="mis-office-layer-mask" v-show="isMaskShow"></div>
                </transition>
            </div><!--end index page -->
            <!--begin footer frame -->
            <div class="mis-ft">
                <p>© 2011-2016 华南师范大学版权所有</p>
            </div>
            <!--end footer frame -->
        </div>
        <!--end content body inner -->
    </div>
    <!--end content body -->
</div>
<!--end wrap -->
<script>
var projectData = {
    "bgdh": [
        {
            "bm": "办公室1", 
            "bgs": [201,202],
            "dh": [          
                {
                    "type": 0,
                    "num": ["0760-88889873","0760-88262318"]
                },
                {
                    "type": 1,
                    "num": ["0760-88262376","010-1111"]
                }
            ]
        },
        {
            "bm": "办公室2", 
            "bgs": [201,202],
            "dh": [          
                {
                    "type": 0,
                    "num": ["0760-88889873","0760-88262318"]
                },
                {
                    "type": 1,
                    "num": ["0760-88262376"]
                }
            ]
        },
        {
            "bm": "办公室3", 
            "bgs": [201,202],
            "dh": [          
                {
                    "type": 0,
                    "num": ["0760-88889873","0760-88262318"]
                },
                {
                    "type": 1,
                    "num": ["0760-88262376"]
                }
            ]
        },
        {
            "bm": "办公室4", 
            "bgs": [201,202],
            "dh": [          
                {
                    "type": 0,
                    "num": ["0760-88889873","0760-88262318"]
                },
                {
                    "type": 1,
                    "num": ["0760-88262376"]
                }
            ]
        }
    ],
    "zzjg": [
        {
            "name": "院长",
            "con": {
                "cy": "高科",
                "zw": ["党校副校长","院长","高级讲师"],
                "bgsdh": ["0760-88889800"],
                "zz": "在市委党校的领导和市教体局的指导下，主持教师进修学院的全面工作。"
            }
        },
        {
            "name": "教务室",
            "con": {
                "kszz": "负责学院日常各类培训的课程管理、教学过程安排等，全市教师继续教育的学分登记管理工作。",
                "dh": [
                    {
                        "type": 0,
                        "num": ["0760-88885326","0760-88889831","0760-88889836"]
                    },
                    {       
                        "type": 1,
                        "num": ["0760-88268339"]
                    }
                ],
                "ksry": [
                    {
                        "name": "刘欢桐",
                        "zw": ["教务室主任","中小学教育技术教研员"],
                        "zz": "中小学、幼儿园教师职务培训课程管理及教务安排；学分申报及登记的组织管理工作。"
                    },
                    {
                        "name": "付丽",
                        "zw": ["课程与教学论教研员"],
                        "zz": "兼职教师的聘任和日常管理；在线课程教学辅导情况的监督与管理工作。"
                    },
                    {
                        "name": "郭钫",
                        "zw": ["科员"],
                        "zz": "场室布置、租用费结算和教师课酬管理工作。"
                    }
                ]
            }
        }
    ]
};
</script>
<script type="text/javascript" src="../js/library/jquery.js"></script>
<script type="text/javascript" src="../js/library/zTree/js/jquery.ztree.core.min.js"></script>
<script type="text/javascript" src="../js/mis.js"></script>
<script type="text/javascript" src="../js/library/layer/layer.js"></script>
<script type="text/javascript" src="../js/library/vue.js"></script>
<script type="text/javascript" src="../js/library/vue-resource.min.js"></script>
<script type="text/javascript" src="../js/office-phone.js"></script>
<script type="text/javascript">
$(function(){
    //树打开关闭
    misTreeFn(20,true);
    treecolor();

    //右边侧边栏显示,true为显示，false为不显示, 默认为true
    //注：如果只有首页有右边侧边栏，只在首页执行这个函数
    //misFn.showRightFrame(true);
});
</script>
</body>
</html>
